*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}
a:link{color: black;}
a:visited{color: black;}
a:hover{color: red;}
a:active{color: gray;}

nav{
    position: absolute;
    top: 40px;
    left: 50px;
    display: flex;
    background-color: white;
    z-index: 10;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 895px;
}
nav ul li{}
nav ul li a{
    display: block;
    font-weight: 600;
    font-size: 20px;
}
section{
    position: absolute;
    z-index: 1;
    width: 1920px;
    height: 1080px;
    background-image: url(img/index-1.png);
    background-position: center;
    background-repeat: no-repeat;
}
.texten{
    position: absolute;
    top: 520px;
    left: 125px;
    font-weight: 600;
    font-size: 30px;
}
.textko{
    position: absolute;
    top: 630px;
    left: 130px;
    font-weight: 400;
    font-size: 22px;
}
footer{
    position: absolute;
    z-index: 5;
    top: 1036px;
    left: 50px;
    font-weight: 700;
    font-size: 13px;
}